#headline {
  background-image: url("../../../assets/img/futuristic-city.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media (max-height: 480px) {
  #headline {
    height: 300px;
  }
  .jumbotron {
    padding-top: 50px;
  }
}

@media (min-height: 480px) and (max-height: 720px) {
  #headline {
    height: 480px;
  }
  .jumbotron {
    padding-top: 100px;
  }
}

@media (min-height: 720px) and (max-height: 1080px) {
  #headline {
    height: 720px;
  }
  .jumbotron {
    padding-top: 200px;
  }
}

@media (min-height: 1080px) {
  #headline {
    height: 1080px;
  }
  .jumbotron {
    padding-top: 300px;
  }
}

.jumbotron {
  background: transparent;
  text-align: center;
  color: white;
}

hr {
  color: white;
  border-width: 2px;
  border-color: white;
  width: 50%;
}

@media (max-width: 575px) {
  .employment_id {
    font-size: .70em;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .employment_id {
    font-size: .80em;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .employment_id {
    font-size: .90em;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .employment_id {
    font-size: 1em;
  }
}

.employment_id {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  letter-spacing: .10em;
}

.jumbotron a {
  border-radius: 50%;
  width: 40px;
}
