#skills_section .jumbotron {
  background-color: #155185;
  color: white;
  border-radius: 0;
  margin-bottom: 0;
}

#skills_section .container {
  font-size: 1.25em;
  position: relative;
}

#skills_section .container img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills_section .container a {
  width: 100%;
  text-decoration: none;
}
