<section id="skills_section">
  <!-- Separator -->
  <div class="jumbotron">
    <div class="container">
      <h2><strong>{{ _languageSelection.language_value ? 'Technologies:' : 'Tecnologias:'}}</strong></h2>
      <div class="row">
        <!-- Docker -->
        <div class="col-sm-12 col-lg-4">
          <a href="#">
            <img src="../../../assets/img/docker-logo.png" alt="docker_logo" class="img-fluid">
          </a>
        </div>

        <!-- AWS -->
        <div class="col-sm-12 col-lg-4">
          <a href="#">
            <img src="../../../assets/img/aws-logo.png" alt="aws_logo" class="img-fluid">
          </a>
        </div>

        <!-- Shell -->
        <div class="col-sm-12 col-lg-4">
          <a href="#">
            <img src="../../../assets/img/bash-logo.png" alt="Bash_logo" class="img-fluid">
            <h3 align="center" style="color:white;"><strong>Bash</strong></h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
